<div class="background-section">
  <h1>Background</h1>
  <div class="background__row">
    <div class="background__col">
      <p>
        Hello! I'm Alpri Else, a student software engineer who believes that
        seamless software is what empowers humanity to achieve more. I am
        passionate about creating software that people love using by grounding
        my work in the problems people face.
      </p>
      <p>
        I'm a B.S. Computer Science student at the
        <a target="_blank" href="https://cs.illinois.edu/"
          >University of Illinois at Urbana-Champaign (UIUC)</a
        >. I'm also currently pursuing certificates in Software Engineering and
        Technology Commercialization from UIUC and a certificate in Innovation
        and Entrepreneurship at
        <a target="_blank" href="https://www.extension.harvard.edu/"
          >Harvard Extension School</a
        >.
      </p>
      <p>
        I recently finished a Software Engineering Co-op at
        <a target="_blank" href="https://www.hubspot.com/">HubSpot</a>, a
        Cambridge, MA based mission driven company, solving for problems CMS
        developers faced. And, I will be returning to HubSpot for a Summer 2020
        Internship.
      </p>
    </div>
    <div class="background__col">
      <div class="background__headshot-wrapper">
        <img src="/assets/img/headshot.jpg" />
      </div>
    </div>
  </div>
</div>
