<div class="background-section">
  <h1>Hi, I'm Alpri!</h1>
  <div class="background__row">
    <div class="background__col background__content">
      <p>
        I'm a new-grad software engineer who believes that
        seamless software is what empowers humanity to achieve more. I am
        passionate about creating software that people love using by grounding
        my work in the problems people face.
      </p>
      <p>
        I was a B.S. Computer Science student at the
        <a target="_blank" href="https://cs.illinois.edu/">University of Illinois at Urbana-Champaign (UIUC)</a>. 
        While there I was involved with the 
        <a target="_blank" href="http://psauiuc.org/">Philippine Student Association (PSA)</a> and 
        <a target="_blank" href="https://www.reflectionsprojections.org/">Reflections Projections</a> in web infrastructure and mentoring roles. 
        I'm also currently pursuing a certificate in Innovation
        and Entrepreneurship at
        <a target="_blank" href="https://www.extension.harvard.edu/">Harvard Extension School</a>.
      </p>
      <p>
        I'm an incoming backend Software Engineer at 
        <a target="_blank" href="https://www.hubspot.com/">HubSpot</a>, a
        Cambridge, MA based mission-driven CRM/CMS/MarTech/etc SaaS company, solving for problems CMS developers face. 
        While I'm not currently looking for new opportunities, I'm always open to connecting via 
        <a target="_blank" href="https://www.linkedin.com/in/alprielse/">linkedin/alprielse</a> and 
        <a href='mailto:alprielse@gmail.com'>alprielse@gmail.com</a>!
      </p>
    </div>
    <div class="background__col background__image">
      <div class="background__headshot-wrapper">
        <img src="/assets/img/headshot.png" />
      </div>
    </div>
  </div>
</div>
