/*  Responsive Breakpoints  */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-ex-lg: 1200px;

/*  Colors */
$abyss: #0c0c0c;
$bloodstripe: #f25735;
$peeled: #f2921d;
$atlantic: #4d8ca5;

$midnight: #282c35;
$icehot: #97ddf5;
$dune: #fff0ea;
