@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

/*  Defer visibility until Scroll Reveal is loaded  */
html.sr {
  visibility: hidden;
}

html,
body {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 1em;
  background-color: #282c35;
  color: #fff0ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  margin-bottom: 1rem;
  font-weight: 700;
  color: #97ddf5;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

code {
  margin: 1rem 0;
  background-color: grey;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}

a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #97ddf5;
}

.navigation {
  padding-top: 2em;
}
.navigation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation ul li {
  font-family: "Montserrat";
  margin-bottom: 1rem;
  padding: 0.75em;
  font-weight: 400;
  font-size: 1.5rem;
  color: #97ddf5;
}
